<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  
  <%- include('./partials/nav.ejs') %>

  <div class = "about content">
    <h2>About us</h2>
    <p>We are the best. You can not stop this</p>
    <p>Wait, who is we, and why can't we stop them?</p>
    <p>No one will ever know</p>

  </div>

  <%- include('./partials/footer.ejs') %>
  
</body>
</html>